<%= form_for(@prediction) do |f| %>
  <% if @prediction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prediction.errors.count, "error") %> prohibited this prediction from being saved:</h2>

      <ul>
      <% @prediction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form-inputs">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :week, :value => @current %>
    <% @schedules  = Schedule.where(week: @current, game: 1) %>
    <% @schedules.each do |schedule| %>
        <% if @prediction.game1? %>
          <%= f.select(:game1, options_for_select([[schedule.team1, 1], [schedule.team0, 0]])) %><br> 
        <% else %>
          <%= f.select(:game1, options_for_select([[schedule.team0, 0], [schedule.team1, 1]])) %><br> 
        <% end %>
    <% end %>
    <% @schedules  = Schedule.where(week: @current, game: 2) %>
    <% @schedules.each do |schedule| %>
        <% if @prediction.game2? %>
          <%= f.select(:game2, options_for_select([[schedule.team1, 1], [schedule.team0, 0]])) %><br> 
        <% else %>
          <%= f.select(:game2, options_for_select([[schedule.team0, 0], [schedule.team1, 1]])) %><br> 
        <% end %>
    <% end %>
    <% @schedules  = Schedule.where(week: @current, game: 3) %>
    <% @schedules.each do |schedule| %>
        <% if @prediction.game3? %>
          <%= f.select(:game3, options_for_select([[schedule.team1, 1], [schedule.team0, 0]])) %><br> 
        <% else %>
          <%= f.select(:game3, options_for_select([[schedule.team0, 0], [schedule.team1, 1]])) %><br> 
        <% end %>
    <% end %>
 </div>
    <%= f.button :submit %>

<% end %>
