<h1>Predictions by week</h1>
<div class="panel-group" id="accordion">
  <% for i in 1..16 %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>">
            Week Number <%= i %>
          </a>
        </h4>
      </div>
      <div id="collapse<%= i %>" class="panel-collapse collapse <% if @current == i %> in <% end %>">
        <div class="panel-body">

          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Current Score</th>
                <% @schedules  = Schedule.where(week: i) %>
                <% @schedules.each do |schedule| %>
                  <th> <%= schedule.team0 %> <br> <%= schedule.team1 %></th>
                <% end %>

                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @entries  = Prediction.where(week: i) %>
              <% @entries.each do |prediction| %>
                <tr>
                  <td><%= prediction.user.user_name %></td>
                  <td><%= prediction.score %></td>
                  <% @schedules  = Schedule.where(week: i, game: 1) %>
                  <% @schedules.each do |schedule| %>
                    <td>
                      <% if prediction.game1? %>
                          <%= schedule.team1 %>
                      <% else %>
                        <%= schedule.team0 %>
                      <% end %>
                    </td>
                  <% end %> 
                  <% @schedules  = Schedule.where(week: i, game: 2) %>
                  <% @schedules.each do |schedule| %>
                    <td>
                      <% if prediction.game2? %>
                          <%= schedule.team1 %>
                      <% else %>
                        <%= schedule.team0 %>
                      <% end %>
                    </td>
                  <% end %> 
                  <% @schedules  = Schedule.where(week: :i, game: 3) %>
                  <% @schedules.each do |schedule| %>
                    <td>
                      <% if prediction.game3? %>
                          <%= schedule.team1 %>
                      <% else %>
                        <%= schedule.team0 %>
                      <% end %>
                    </td>
                  <% end %> 
                 </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Prediction', new_prediction_path %>
