<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong>
  <%= @prediction.week %>
</p>

<p>
  <strong>Score:</strong>
  <%= @prediction.score %>
</p>

<p>
  <strong>Game1:</strong>
  <%= @prediction.game1 %>
</p>

<p>
  <strong>Game2:</strong>
  <%= @prediction.game2 %>
</p>

<p>
  <strong>Game3:</strong>
  <%= @prediction.game3 %>
</p>

<p>
  <strong>Game4:</strong>
  <%= @prediction.game4 %>
</p>

<p>
  <strong>Game5:</strong>
  <%= @prediction.game5 %>
</p>

<p>
  <strong>Game6:</strong>
  <%= @prediction.game6 %>
</p>

<p>
  <strong>Game7:</strong>
  <%= @prediction.game7 %>
</p>

<p>
  <strong>Game8:</strong>
  <%= @prediction.game8 %>
</p>

<p>
  <strong>Game9:</strong>
  <%= @prediction.game9 %>
</p>

<p>
  <strong>Game10:</strong>
  <%= @prediction.game10 %>
</p>

<p>
  <strong>Game11:</strong>
  <%= @prediction.game11 %>
</p>

<p>
  <strong>Game12:</strong>
  <%= @prediction.game12 %>
</p>

<p>
  <strong>Game13:</strong>
  <%= @prediction.game13 %>
</p>

<p>
  <strong>Game14:</strong>
  <%= @prediction.game14 %>
</p>

<p>
  <strong>Game15:</strong>
  <%= @prediction.game15 %>
</p>

<p>
  <strong>Game16:</strong>
  <%= @prediction.game16 %>
</p>

<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', predictions_path %>
