<h1>My Predictions</h1>
           <table>
            <thead>
              <tr>
                <th>Week</th>
                <th>Score</th>
 
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @predictions.each do |prediction| %>
                <tr>
                  <td><p><%= prediction.week %></p></td>
                  <td><p><%= prediction.score %></p></td>
                  <% @schedules  = Schedule.where(week: prediction.week, game: 1) %>
                  <% @schedules.each do |schedule| %>

                    <td>
                      <% if prediction.game1? %>
                          <p <% if schedule.winner === 1 %> class="text-success" <% end %> > <%= schedule.team1 %> </p>
                      <% else %>
                          <p <% if schedule.winner === 0 %> class="text-success" <% end %> > <%= schedule.team0 %> </p>
                     <% end %>
                    </td>
                  <% end %> 
                  <% @schedules  = Schedule.where(week: prediction.week, game: 2) %>
                  <% @schedules.each do |schedule| %>
                    <td>
                      <% if prediction.game2? %>
                         <p <% if schedule.winner === 1 %> class="text-success" <% end %> > <%= schedule.team1 %> </p>
                      <% else %>
                         <p <% if schedule.winner === 0 %> class="text-success" <% end %> > <%= schedule.team0 %> </p>
                       <% end %>
                    </td>
                  <% end %> 
                  <% @schedules  = Schedule.where(week: prediction.week, game: 3) %>
                  <% @schedules.each do |schedule| %>
                    <td>
                      <% if prediction.game3? %>
                         <p <% if schedule.winner === 1 %> class="text-success" <% end %> > <%= schedule.team1 %> </p>
                      <% else %>
                         <p <% if schedule.winner === 0 %> class="text-success" <% end %> > <%= schedule.team0 %> </p>
                      <% end %>
                      <% if prediction.game3 == schedule.winner %>
                        <% prediction.score += 1 %>
                        <% end %>
                    </td>
                  <% end %> 
                  <% if prediction.week == @current %>
                    <% @current_exists = true %>
                    <td><p><%= link_to 'Edit', edit_prediction_path(prediction) %></p></td>
                    <td><p><%= link_to 'Delete', prediction, method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
         <table>
            <thead>
              <tr>
                <th>Total</th>
                <% prediction = @predictions.first %>
                <% if prediction != nil %>
                  <th><%= prediction.user.score %></th>
                <% end %>
              </tr>
            </thead>
          </table>

<% if @current_exists != true %>
  <%= link_to "Add This Week's Prediction", new_prediction_path %>
<% end %>
</div>

<br>
