<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :week %><br>
    <%= f.number_field :week %>
  </div>
  <div class="field">
    <%= f.label :game %><br>
    <%= f.number_field :game %>
  </div>
  <div class="field">
    <%= f.label :team0 %><br>
    <%= f.text_field :team0 %>
  </div>
  <div class="field">
    <%= f.label :team1 %><br>
    <%= f.text_field :team1 %>
  </div>
  <div class="field">
    <%= f.label :winner %><br>
    <%= f.number_field :winner %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
